{% extends 'appearance/home.html' %}

{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<div class="well center-blick">
    <div class="row" style="font-size: 27px">
        
        <div class="col-sm-12">
            <p style="font-size: 40px">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
                <!-- <form action="{% url 'search:results' %}" method="get">{% csrf_token %} -->
                <!-- 
                    TODO - Compare to author's .html like document_create
                -->
                <center>
                <form action="/home/search/" method="POST">{% csrf_token %}
                    <table>
                    {{ wizard.management_form }}
                    {% if wizard.form.forms %}
                        {{ wizard.form.management_form }}
                        {% for form in wizard.form.forms %}
                            {{ form }}
                        {% endfor %}
                    {% else %}
                        {{ wizard.form }}
                    {% endif %}
                    </table>
                {% if wizard.steps.prev %}
                <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
                <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
                {% endif %}

                <input type="submit" name="" value="Next"/>

                </form>
            </center>
        </div>
    
    </div>
</div>

{% endblock %}

